@model LibraryWebApplication.Models.Book

@{
    ViewData["Title"] = "Видалити запис про книгу";
}

<h1>Видалити запис про книгу</h1>

<h3>Ви впевнені, що хочете видалити це?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isbn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isbn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublicationYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublicationYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorNavigation.LastName)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuthorNavigation.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GenreNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GenreNavigation.Genre_)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LanguageNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LanguageNavigation.Language1)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
