@model LibraryWebApplication.Models.BooksIssue

@{
    ViewData["Title"] = "Видалити запис про позику";
}

<h1>Видалити запис про позику</h1>

<h3>Ви впевнені, що хочете видалити це?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IssuedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IssuedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeTaken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeTaken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Books)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Books.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowerLibrary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BorrowerLibrary.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reader)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reader.LastName)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reader.FirstName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
