@model IEnumerable<LibraryWebApplication.Models.BooksIssue>

@{
    ViewData["Title"] = "Позики";
}

<h1>Позики</h1>

<p>
    <a asp-action="Create">Створити запис</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssuedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeTaken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowerLibrary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reader)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssuedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeTaken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Books.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowerLibrary.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reader.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reader.FirstName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детальніше</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
